{%extends "registration/base.html"%} {% load bootstrap4 %} {%load static%} {% load staticfiles %} {% block content %}


<div style="background-image: url('{% static 'photos/background-2.jpeg' %}'); height: 400px; margin-bottom: 4%;"></div>
<div class="container" style="background-color:#fff;">

     <div class="row">


  <form  action="{%url 'edit_profile'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input id="id_myfield" type="submit" class="btn btn-primary btn-lg" value="Post">
  </form>

   {% block scripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}


     </div>
</div>


{% endblock %}
