{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div style="background-image: url('{% static 'photos/background-1.jpg' %}'); height: 300px;">



</div>


<div class="jumbotron itson mb-3 ">
  <p class="h1" style="font-family: 'Dosis', cursive; color:black;font-size:25px; text-align: center; margin-bottom: 5%;">View projects, submit your own projects and have them reviewed.</p>

  <div class="card-deck flex-wrap">
    {% for project in projects %}
    <div class="card border-secondary w-33"><a href="{% url 'project' project.id %}">

        <img src="{{project.project_image.url}}" data-target="#imageModal{{project.id}}" data-toggle="modal" alt="" class="img-fluid"
          id="eachimage1" size="100px200"></a>
      <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.description}}</p>
     <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.user.username}}</p>
     <div style="display: inline; text-align: center; padding-bottom: 3%;">

       <button type="button" class="btn btn-success btn-sm"><a href="{{ project.project_url}}" style="color: #ffffff; text-decoration: none;">&nbsp;&nbsp;Visit Site&nbsp;&nbsp;</a></button>
       <button type="button" class="btn btn-success btn-sm"><a href="{% url 'project' project.id %}" style="color: #ffffff; text-decoration: none;">View Project</a></button>

     </div>

    </div>
    {% endfor %}
  </div>

  <div class="container" style="margin-top: 4%;">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="border: 2px solid #ca9e30;">

        <div style="padding: 8%;">

          <form action="{%url 'homePage'%}" method="post">
            {%csrf_token%} {% bootstrap_form letterForm %}
            <input type="submit" class="btn btn-success btn-sm" value="Subscribe">
          </form>

        </div>

      </div>

      <div class="col-md-4"></div>

    </div>

  </div>


</div>



{% endblock %} {% block scripts %} {{block.super}}
<script type="text/javascript" src="{%static 'js/scripts.js'%}"></script>

{% endblock %}
